<div class="container pt-5">
  <div class="row">
    {{#each posts}}
    <div class="card bg-light p-1" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Image of item">
      <div class="card-body">
        <h5 class="title d-flex justify-content-center" href="/posts/{{this._id}}">{{this.title}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Description: {{this.description}}</li>

        <li class="list-group-item">Price: ${{this.price}}</li>

        <li class="list-group-item">Seller: ${{this.creator.username}}</li>

        <div class="card-body d-flex justify-content-around">
          <a href="/posts/{{this._id}}" class="btn btn-info">Open</a>
          <a href="/" class="btn btn-success">Add to Hand</a>
        </div>
    </div>

    {{/each}}
    </ul>
  </div>
</div>
</div>