<div class="row-fluid d-flex justify-content-center pt-5 " style="border:none; background:rgb(255, 255, 255); height:210px;">
    
        <img class="w-25" src="images/online_learning.jpg" style="height:250px; margin-left:-15px;" />

    <div class="col-xs-6">
        <h3 class="title">{{post.title}}</h3>
        <h5 class="price">Price: ${{post.price}}</h5>
        <h5 class="size">Size: {{post.size}}</h5>
        <p class="description" style="font-size:10px; color:#03225C;">{{post.description}}</p>
        <a href="/posts/{{post._id}}/edit" class="btn btn-danger">Edit</a>
        <a href="/" class="btn btn-primary">Go Back</a>
        <a href="#" class="btn btn-success">Add to Hand</a>
    </div>
</div>