{{!-- <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <a></a>title:{{post.title}}</a>
    </div>
    <div>price:{{post.price}}
    </div>
    <div>size:{{post.size}}
    </div>
</div> --}}

<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
        <h3 class="title">Title: {{post.title}}</h3>
        <h5 class="price">Price: {{post.price}}</h5>
        <h5 class="size">Price: {{post.size}}</h5>
    </div>
</div>